<tr>
  <td>{{name}}</td>
  <td>{{mass}}</td>
  <td>{{distance}}</td>
  <td>{{xray}}</td>
  <td>
  	<button type="button" class="btn btn-lg btn-danger viewButton" data-id="{{id}}">View</button>
  </td>
</tr> 